.DepartureDisplay .loading {
  text-align: center;
  background-color: #ddd;
  padding: 10px;
  color: black;
}

.DepartureDisplay input {
  font: 16px Arial;
}

.DepartureDisplay td {
  border-top: 1px solid black;
  cursor: cell;
  padding: 5px;
}

.DepartureDisplay th {
  cursor: pointer;
  padding: 5px;
}

.DepartureDisplay table {
  border: 1px solid black;
  margin: 20px auto;
}

.DepartureDisplay table .time {
  text-align: right;
}
